<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="formTitle" value="Crystal Report Deploy Source Tool" />
		<add key="versionDate" value="2023-12-11" />
		<add key="maxSelectRecords" value="1000" />
		<add key="ShowDarkTheme" value="true" />
		
		<add key="CMSServer" value="ServerName" />
		<add key="CMSUserId" value="Administrator" />
		<add key="CMSPassword" value="123456" />
	
		<add key="TESTSITDBServer" value="UD01" />
		<add key="TESTSITDBName" value="SIT" />
		<add key="TESTSITDBUserName" value="sa" />
		<add key="TESTSITDBPassword" value="123456" />
		
		<add key="TESTUATDBServer" value="UD01" />
		<add key="TESTUATDBName" value="UAT" />
		<add key="TESTUATDBUserName" value="sa" />
		<add key="TESTUATDBPassword" value="123456" />
	</appSettings>
</configuration>